node_modules
.env
coverage
coverage.json
typechain
typechain-types
dist

# Hardhat files
cache
artifacts

# Deploy info
deployments/localhost
.openzeppelin/unknown-*.json

# Build files
build/

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
